export PGDATABASE=timecard
export DATABASE_URL="postgres://reedcowan:postgres@localhost/timecard?sslmode=disable"
export GOOSE_MIGRATION_DIR=schema/goose
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING=$DATABASE_URL